@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-red {
    border: 1px solid red;
  }
  .border-blue {
    border: 1px solid blue;
  }
  .border-green {
    border: 1px solid green;
  }
}
