@tailwind base;
@tailwind components;
@tailwind utilities;

/* #d3demo {
  width: 30vw;
  height: 30vw;
} */

svg text {
  font-size: 5px;
}

@layer components {
  .border-red {
    border: 1px solid red;
  }
  .border-blue {
    border: 1px solid blue;
  }
  .border-green {
    border: 1px solid green;
  }

  .insecte {
    background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background-color: #729f3f;
  }
  .dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
  }
  .fee {
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background-color: #fdb9e9;
  }
  .feu {
    background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background-color: #fd7d24;
  }
  .spectre {
    background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background-color: #7b62a3;
  }
  .sol {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
  }
  .normal {
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background-color: #a4acaf;
  }
  .psy {
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
  }
  .acier {
    background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background-color: #9eb7b8;
  }
  .tenebres {
    background: linear-gradient(180deg, #707070 50%, #707070 50%);
    background-color: #707070;
  }
  .electrik {
    background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background-color: #eed535;
  }
  .combat {
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background-color: #d56723;
  }
  .vol {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
  }
  .plante {
    background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background-color: #9bcc50;
  }
  .glace {
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background-color: #51c4e7;
  }
  .poison {
    background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background-color: #b97fc9;
  }
  .roche {
    background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background-color: #a38c21;
  }
  .eau {
    background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background-color: #4592c4;
  }
}
